.android/
.aws/
.docker/
.fleetctl/
.gradle/
.gnupg/
.IntelliJIdea14/
.m2/
.neoman/
.node-gyp/
.npm/
.openvpn/
.oracle_jre_usage/
.otto.d/
.pip/
.pylint*/
.ssh/
.subversion/
.Trash/
.vagrant.d/
.vim/.netrwhist
.yubioath/
.arcrc
.bash_history
.CFUserTextEncoding
.gpg*
.hgignore_global
.htoprc
.lesshst
.python_history
.node_repl_history
.NERDTreeBookmarks
.rnd
.sqlite*
.v8*
.viminfo
.zcomp*
.zsh_history
.zsh-update
bin/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
git/
go/
tmp/
oss/
pebble-test/
venv/
VirtualBox*/
