[user]
	email = 1559510+thepwagner@users.noreply.github.com
	name = Peter Wagner
	signingkey = 5929990E5A1545D163EA4EC40671E992E8A67A79

[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[github]
	user = thepwagner
#[credential]
#	helper = osxkeychain
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
