/*

!/.gitconfig
!.gitignore
!/.gitignore_global

!/.config
/.config/*
!/.config/alacritty
!/.config/containers
/.config/fish/fish_variables
!/.config/fish
!/.config/gh
/.config/gh/*
!/.config/gh/config.yml
!/.config/i3
!/.config/polybar
!/.config/rofi
!/.config/user-dirs.*

!/.tmux.conf
!/.wget-hsts
!/.vim/
/.vim/.netrwhist
!/.vimrc
!/.zshrc
