/.CFUserTextEncoding
/.IntelliJIdea14/
/.IntelliJIdea15/
/.NERDTreeBookmarks
/.Trash/
/.android/
/.archey3.cfg
/.archey-ip
/.arcrc
/.autoenv_authorized
/.aws/
/.bash_history
/.cache/
/.cassandra/
/.config/
/.cups/
/.dbshell
/.docker/
/.dropbox/
/.fleetctl/
/.gem/
/.github
/.gnupg/
/.gpg*
/.gradle/
/.groovy/
/.hgignore_global
/.homebrew_analytics_user_uuid
/.htoprc
/.idea-build
/.ivy2/
/.lesshst
/.local/
/.m2/
/.mitmproxy/
/.mongorc.js
/.neoman/
/.node-gyp/
/.node_repl_history
/.npm/
/.npmrc
/.openvpn/
/.oracle_jre_usage/
/.otto.d/
/.packer.d/
/.password-store/
/.pip/
/.pow
/.psql_history
/.pylint*/
/.python_history
/.rbenv/
/.rediscli_history
/.rnd
/.s3cfg
/.sbt/
/.sh_history
/.skipbuddy
/.spinnaker/
/.sqlite*
/.ssh/
/.subversion/
/.terraform.d/
/.tox/
/.v8*
/.vagrant.d/
/.vim/.netrwhist
/.viminfo
/.yubioath/
/.zcomp*
/.zsh-update
/.zsh_history
/.zhistory
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox*/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/VirtualBox*/
/bin/
/git/
/go/
/oss/
/tmp/
/venv/
/zemind/
